extends layout

block content
    .container
        h1#about-head About Us
        p#who-you-are Sed at orci augue. Pellentesque fermentum vestibulum sem eu lobortis. Cras quis elit lacinia, fringilla enim et, venenatis massa. Donec lacus magna, aliquet et orci vitae, vehicula eleifend magna. Donec sed pretium massa, vitae vehicula metus. Maecenas vel maximus ante, quis sagittis libero. Quisque id leo hendrerit orci porta scelerisque elementum a enim. Sed id eleifend justo. In hac habitasse platea dictumst. Nam euismod tempus tellus a efficitur. Nunc erat lorem, varius eget eros vel, malesuada dignissim nunc. Sed massa sem, sodales eget consequat vitae, maximus varius turpis. Nulla accumsan, turpis pharetra vehicula tristique, elit neque aliquam urna, sit amet condimentum quam velit id ex. Sed finibus euismod lectus, vitae fringilla risus suscipit a. Donec scelerisque congue cursus. 
        .container
            ul#some-features
                li HabiJabi 1
                li HabiJabi 2
                li HabiJabi 3
        p#what-you-do Curabitur odio tortor, ultrices facilisis lorem sed, tincidunt pretium dui. Nam finibus sodales orci vitae aliquam. Pellentesque non tincidunt tellus. Ut sapien est, tincidunt vehicula purus nec, ultrices hendrerit justo. Morbi vel sodales augue. Cras ut mattis neque. Praesent rutrum felis ut consectetur suscipit. Nam pharetra aliquam erat at scelerisque. Morbi vehicula ligula tincidunt, ultrices ante nec, fermentum nisl. 
        p#extra-from-you Curabitur odio tortor, ultrices facilisis lorem sed, tincidunt pretium dui. Nam finibus sodales orci vitae aliquam. Pellentesque non tincidunt tellus. Ut sapien est, tincidunt vehicula purus nec, ultrices hendrerit justo. Morbi vel sodales augue. Cras ut mattis neque. Praesent rutrum felis ut consectetur suscipit. Nam pharetra aliquam erat at scelerisque. Morbi vehicula ligula tincidunt, ultrices ante nec, fermentum nisl. 


        



