extends layout

block content
    .login-form
        form#login(action="/users/login" method="post")
            h2 Login
            hr
            input(name="username" type='text', placeholder='username')
            br
            input(name="password" type='password', placeholder='password')
            br
            input#login-button(type='submit', name='login' value='Login')
            a(href="/users/register") Not register yet?
